.container{
    margin: 0;
}

.perfil{
    padding: 25vh 5vw 15vh;
    display: flex;
}

.foto, .dados{
    justify-content: center;
    align-items: center;
}

.dados{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.tipo, .nome, .local{
    padding: 10px;
}
