.loginContainer{
    padding: 25vh 5vw 15vh;
}

.form .label, .inputLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.inputLogin{
    width: 200px;
    border: 2px solid rgba(0, 0, 0, 0.918);
    border-radius: 5px;
    height: 20px;
    background: rgba(255, 255, 255, 0.3);
}

.label{
    padding: 15px;
    text-transform: uppercase;
}

.btnCadastrar{
    background-color: #14dd40ea;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin: 5px;
    border: transparent;
}

.btnCadastrar, .btnLogar{
    text-transform: uppercase;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 5px black;
}

.btnCadastrar:hover, .btnLogar:hover{
    cursor: pointer;
    opacity: 0.6;
    transition: 1s;
}

.btnLogar{
    justify-content: center;
    background-color: #fa6d16ef;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin: 5px;
    border: transparent;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px;
    
}